# Análise dos dados de atraso de voo e cancelamento em 2015

#### Contexto

O Departamento de Estatísticas de Transportes (DOT) dos EUA monitora o desempenho no prazo de voos domésticos operados por grandes transportadoras aéreas. Informações resumidas sobre o número de voos no prazo, atrasados, cancelados e desviados são publicadas no Relatório Mensal do Consumidor de Viagens Aéreas do DOT e neste conjunto de dados de atrasos e cancelamentos de voos de 2015.

Base de dados: https://www.kaggle.com/datasets/usdot/flight-delays?resource=download&select=airlines.csv

Importação de bibliotecas

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

Importação do arquivo csv

In [3]:
dataset = pd.read_csv('dados/flights.csv')

/var/folders/sw/vbxks35n4tzby0_9v7yr4gr40000gn/T/ipykernel_1988/1435113300.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv('dados/flights.csv')

Visualização inicial dos dados

In [4]:
dataset.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
dataset.tail()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
5819074,2015,12,31,4,B6,688,N657JB,LAX,BOS,2359,...,753.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819075,2015,12,31,4,B6,745,N828JB,JFK,PSE,2359,...,430.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819076,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,...,432.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819077,2015,12,31,4,B6,333,N527JB,MCO,SJU,2359,...,330.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819078,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,...,442.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
dataset.shape

(5819079, 31)

Entendendo os dados

In [7]:
dataset.dtypes

YEAR                     int64
MONTH                    int64
DAY                      int64
DAY_OF_WEEK              int64
AIRLINE                 object
FLIGHT_NUMBER            int64
TAIL_NUMBER             object
ORIGIN_AIRPORT          object
DESTINATION_AIRPORT     object
SCHEDULED_DEPARTURE      int64
DEPARTURE_TIME         float64
DEPARTURE_DELAY        float64
TAXI_OUT               float64
WHEELS_OFF             float64
SCHEDULED_TIME         float64
ELAPSED_TIME           float64
AIR_TIME               float64
DISTANCE                 int64
WHEELS_ON              float64
TAXI_IN                float64
SCHEDULED_ARRIVAL        int64
ARRIVAL_TIME           float64
ARRIVAL_DELAY          float64
DIVERTED                 int64
CANCELLED                int64
CANCELLATION_REASON     object
AIR_SYSTEM_DELAY       float64
SECURITY_DELAY         float64
AIRLINE_DELAY          float64
LATE_AIRCRAFT_DELAY    float64
WEATHER_DELAY          float64
dtype: object

In [8]:
# Verificando a quantidade de nulos
dataset.isnull().sum()

YEAR                         0
MONTH                        0
DAY                          0
DAY_OF_WEEK                  0
AIRLINE                      0
FLIGHT_NUMBER                0
TAIL_NUMBER              14721
ORIGIN_AIRPORT               0
DESTINATION_AIRPORT          0
SCHEDULED_DEPARTURE          0
DEPARTURE_TIME           86153
DEPARTURE_DELAY          86153
TAXI_OUT                 89047
WHEELS_OFF               89047
SCHEDULED_TIME               6
ELAPSED_TIME            105071
AIR_TIME                105071
DISTANCE                     0
WHEELS_ON                92513
TAXI_IN                  92513
SCHEDULED_ARRIVAL            0
ARRIVAL_TIME             92513
ARRIVAL_DELAY           105071
DIVERTED                     0
CANCELLED                    0
CANCELLATION_REASON    5729195
AIR_SYSTEM_DELAY       4755640
SECURITY_DELAY         4755640
AIRLINE_DELAY          4755640
LATE_AIRCRAFT_DELAY    4755640
WEATHER_DELAY          4755640
dtype: int64

In [9]:
# Verificando a porcentagem de nulos
(pd.DataFrame(dataset.isnull().sum(axis=0)).sort_values(by=0, ascending=False)/dataset.shape[0])*100

                             0
CANCELLATION_REASON  98.455357
WEATHER_DELAY        81.724960
LATE_AIRCRAFT_DELAY  81.724960
AIRLINE_DELAY        81.724960
SECURITY_DELAY       81.724960
AIR_SYSTEM_DELAY     81.724960
AIR_TIME              1.805629
ARRIVAL_DELAY         1.805629
ELAPSED_TIME          1.805629
WHEELS_ON             1.589822
TAXI_IN               1.589822
ARRIVAL_TIME          1.589822
TAXI_OUT              1.530259
WHEELS_OFF            1.530259
DEPARTURE_DELAY       1.480526
DEPARTURE_TIME        1.480526
TAIL_NUMBER           0.252978
SCHEDULED_TIME        0.000103
SCHEDULED_DEPARTURE   0.000000
CANCELLED             0.000000
DAY                   0.000000
DAY_OF_WEEK           0.000000
AIRLINE               0.000000
FLIGHT_NUMBER         0.000000
SCHEDULED_ARRIVAL     0.000000
DIVERTED              0.000000
ORIGIN_AIRPORT        0.000000
DISTANCE              0.000000
DESTINATION_AIRPORT   0.000000
MONTH                 0.000000
YEAR                  0.000000

In [10]:
# Descrição dos percentis
dataset.describe(percentiles=[.25, .5, .75, .9])

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,...,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
count,5819079.0,5.819079e+06,5.819079e+06,5.819079e+06,5.819079e+06,5.819079e+06,5.732926e+06,5.732926e+06,5.730032e+06,5.730032e+06,...,5.819079e+06,5.726566e+06,5.714008e+06,5.819079e+06,5.819079e+06,1.063439e+06,1.063439e+06,1.063439e+06,1.063439e+06,1.063439e+06
mean,2015.0,6.524085e+00,1.570459e+01,3.926941e+00,2.173093e+03,1.329602e+03,1.335204e+03,9.370158e+00,1.607166e+01,1.357171e+03,...,1.493808e+03,1.476491e+03,4.407057e+00,2.609863e-03,1.544643e-02,1.348057e+01,7.615387e-02,1.896955e+01,2.347284e+01,2.915290e+00
std,0.0,3.405137e+00,8.783425e+00,1.988845e+00,1.757064e+03,4.837518e+02,4.964233e+02,3.708094e+01,8.895574e+00,4.980094e+02,...,5.071647e+02,5.263197e+02,3.927130e+01,5.102012e-02,1.233201e-01,2.800368e+01,2.143460e+00,4.816164e+01,4.319702e+01,2.043334e+01
min,2015.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-8.200000e+01,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,-8.700000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2015.0,4.000000e+00,8.000000e+00,2.000000e+00,7.300000e+02,9.170000e+02,9.210000e+02,-5.000000e+00,1.100000e+01,9.350000e+02,...,1.110000e+03,1.059000e+03,-1.300000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2015.0,7.000000e+00,1.600000e+01,4.000000e+00,1.690000e+03,1.325000e+03,1.330000e+03,-2.000000e+00,1.400000e+01,1.343000e+03,...,1.520000e+03,1.512000e+03,-5.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,2.000000e+00,3.000000e+00,0.000000e+00
75%,2015.0,9.000000e+00,2.300000e+01,6.000000e+00,3.230000e+03,1.730000e+03,1.740000e+03,7.000000e+00,1.900000e+01,1.754000e+03,...,1.918000e+03,1.917000e+03,8.000000e+00,0.000000e+00,0.000000e+00,1.800000e+01,0.000000e+00,1.900000e+01,2.900000e+01,0.000000e+00
90%,2015.0,1.100000e+01,2.800000e+01,7.000000e+00,4.992000e+03,2.002000e+03,2.015000e+03,3.500000e+01,2.500000e+01,2.030000e+03,...,2.147000e+03,2.148000e+03,3.400000e+01,0.000000e+00,0.000000e+00,3.500000e+01,0.000000e+00,5.000000e+01,7.000000e+01,0.000000e+00
max,2015.0,1.200000e+01,3.100000e+01,7.000000e+00,9.855000e+03,2.359000e+03,2.400000e+03,1.988000e+03,2.250000e+02,2.400000e+03,...,2.400000e+03,2.400000e+03,1.971000e+03,1.000000e+00,1.000000e+00,1.134000e+03,5.730000e+02,1.971000e+03,1.331000e+03,1.211000e+03

#### Análise da coluna 'CANCELLATION_REASON' que apresenta 98% dos dados nulos: 
<p>Reason for Cancellation of flight: A - Airline/Carrier; B - Weather; C - National Air System; D - Security
<p>Dos que responderam o primeiro motivo para o cancelamento foi o tempo/clima, seguido pela companhia aérea, sistema nacional de voos e por último,segurança.

In [11]:
dataset['CANCELLATION_REASON'].value_counts(dropna=False)

NaN    5729195
B        48851
A        25262
C        15749
D           22
Name: CANCELLATION_REASON, dtype: int64

In [12]:
dataset['WEATHER_DELAY'].dropna().describe()

count    1.063439e+06
mean     2.915290e+00
std      2.043334e+01
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.211000e+03
Name: WEATHER_DELAY, dtype: float64

In [13]:
dataset['LATE_AIRCRAFT_DELAY'].dropna().describe()

count    1.063439e+06
mean     2.347284e+01
std      4.319702e+01
min      0.000000e+00
25%      0.000000e+00
50%      3.000000e+00
75%      2.900000e+01
max      1.331000e+03
Name: LATE_AIRCRAFT_DELAY, dtype: float64

In [14]:
dataset['AIRLINE_DELAY'].dropna().describe()

count    1.063439e+06
mean     1.896955e+01
std      4.816164e+01
min      0.000000e+00
25%      0.000000e+00
50%      2.000000e+00
75%      1.900000e+01
max      1.971000e+03
Name: AIRLINE_DELAY, dtype: float64

In [15]:
dataset['SECURITY_DELAY'].dropna().describe()

count    1.063439e+06
mean     7.615387e-02
std      2.143460e+00
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      5.730000e+02
Name: SECURITY_DELAY, dtype: float64

In [16]:
dataset['AIR_SYSTEM_DELAY'].dropna().describe()

count    1.063439e+06
mean     1.348057e+01
std      2.800368e+01
min      0.000000e+00
25%      0.000000e+00
50%      2.000000e+00
75%      1.800000e+01
max      1.134000e+03
Name: AIR_SYSTEM_DELAY, dtype: float64

Criando uma nova base de dados para fazer tratamentos

In [17]:
datasetSNulo = dataset

Primeiro tratamento a ser feito foi na coluna "CANCELLATION_REASON", onde a quantidade de nulos passava de 98%. Foi escolhido dropar a coluna visto quea quantidade de nulos é muito elevada.

In [18]:
datasetSNulo = datasetSNulo.drop(['CANCELLATION_REASON'],axis=1)

O proximo tratamento foi das colunas "LATE_AIRCRAFT_DELAY","AIRLINE_DELAY","SECURITY_DELAY" e "AIR_SYSTEM_DELAY". O critério adotado foi a remoção das colunas também, visto que a porcentagem de nulos ultrapassam os 81% em todas elas.

In [19]:
datasetSNulo = datasetSNulo.drop(['LATE_AIRCRAFT_DELAY','AIRLINE_DELAY','SECURITY_DELAY','AIR_SYSTEM_DELAY'],axis=1)

In [20]:
datasetSNulo.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,169.0,1448,404.0,4.0,430,408.0,-22.0,0,0,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,263.0,2330,737.0,4.0,750,741.0,-9.0,0,0,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,266.0,2296,800.0,11.0,806,811.0,5.0,0,0,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,258.0,2342,748.0,8.0,805,756.0,-9.0,0,0,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,199.0,1448,254.0,5.0,320,259.0,-21.0,0,0,NaN

In [21]:
datasetSNulo.shape

(5819079, 26)

In [23]:
datasetSNulo['AIR_TIME']

0          169.0
1          263.0
2          266.0
3          258.0
4          199.0
           ...
5819074    272.0
5819075    195.0
5819076    197.0
5819077    144.0
5819078    189.0
Name: AIR_TIME, Length: 5819079, dtype: float64

In [22]:
datasetSNulo['AIR_TIME'].mean()

113.51162809012519

In [27]:
datasetSNulo['AIR_TIME'] = datasetSNulo['AIR_TIME'].fillna(113.5)

In [28]:
datasetSNulo['AIR_TIME'].value_counts(dropna=False)

113.5    105071
64.0      49791
63.0      49760
62.0      49476
65.0      49393
          ...
679.0         1
676.0         1
678.0         1
674.0         1
672.0         1
Name: AIR_TIME, Length: 676, dtype: int64

In [ ]:
arrival dalay = negativo chegou adiantado, positivo atrasado
motivo do atraso - variavel resposta